	<td width="100%">
		<!-- 1. PREVIEW INFOMATION -->
		<table border="0" style="display: {txt_chedo1}" width="100%" id="table6" cellspacing="0" bgcolor="#ffffff" cellpadding="0">
		   <!-- TOOLBAR -->
		   <tr width="100%">
				<td>
				  <div id="title_panel">
							  <div id="title" class="header icon-48-product{trash_icon}">{txt_cms_cat_product}</div>
                              <div id="toolbar_button"><a onclick="goPage('./?act=help&mod=user_list');" title="{txt_help}"><span class="icon-32-help"></span>{txt_help}</a></div>
                              <div id="toolbar_button"><a onclick="goPage('./?');" title="{txt_close}"><span class="icon-32-close"></span>{txt_close}</a></div>
                                                            <div style="display: {txt_button_law_del};" id="toolbar_button"><a onclick="javascript:if(document.adminForm.boxchecked.value==0){alert('{txt_question_any} [{txt_cms_delete}]');}else{ if({checkDel_anyfile}) submitbutton('xoa');}" href="#" title="{txt_cms_delete}"><span class="icon-32-delete"></span>{txt_cms_delete}</a></div>
                              <div style="display: {txt_button_law_restore};" id="toolbar_button"><a onclick="javascript:if(document.adminForm.boxchecked.value==0){alert('{txt_question_any} [{txt_cms_delete}]');}else{submitbutton('restore');}" href="#" title="{txt_cms_restore}"><span class="icon-32-save"></span>{txt_cms_restore}</a></div>
                              <div style="display: {txt_button_law_add};" id="toolbar_button"><a onclick="goPage('./?act={sbj_act}{txt_other_links_title}{txt_oder_fun}&addnew=0');" title="{txt_cms_addnew}"><span class="icon-32-new"></span>{txt_cms_addnew}</a></div>
                              <div style="display: {txt_button_law_trash};" id="toolbar_button"><a onclick="javascript:if(document.adminForm.boxchecked.value==0){alert('{txt_question_any} [{txt_send_trash}]');}else{submitbutton('MoveTrash');}" href="#" title="{txt_go_trash}"><span class="icon-32-trash"></span>{txt_go_trash}</a></div>
                              <div style="display: none;" id="toolbar_button"><a onclick="javascript:if(document.adminForm.boxchecked.value==0){alert('{txt_question_one} [{txt_change}]');}else{ submitbutton('{txt_cms_edit}');}" {txt_links_update} title="{txt_change}"><span class="icon-32-edit"></span>{txt_change}</a></div>
                              <div style="display: {txt_button_law_mod};" id="toolbar_button"><a onclick="javascript: submitbutton('update');" href="#" title="{txt_cms_update}"><span class="icon-32-update"></span>{txt_cms_update}</a></div>
				  </div>
				  <div id="header_msg_{txt_mess_result}" style="display: {txt_show_error}" onclick="javascript: this.style.display = 'none';">
										   {txt_msg_error}
				  </div>
				  <div id="header_box_behind">
                          <div id="search">
                              <form method="POST" action="./?act={sbj_act}{txt_oder_fun}&trash={trash_act}" name="frmSearch">
                                  <input type="text" name="txtInfo_Search" value="{txt_enter_key_search}" id="txtInfo_Search" class="textSearch" size="20">
                                  <input class="button"  type="submit" value="{txt_public_search}" name="cmd">
                                  <input class="button" type="reset"  value="{txt_public_search_reset}" onclick="goPage('./?act={sbj_act}');" >
                              </form> 
                          </div>
                          {txt_resul_search}
				  </div>
				</td>
			</tr>
			 <!-- GRID PREVIEW -->
			<script language="JAVASCRIPT">
			  //Question when place lick delete
			  function Question_del()
			  {
				   return confirm("{txt_question_delete}");
			  }

			  //Error when place click icon action
			  function Error_law(e)
			  {
				  if (e=='del')
				   { alert("{txt_error_law_del}");
					return false;
				   }
				  if (e=='mod')
				   { alert("{txt_error_law_mod}");
					 return false;
				   }
			  }

			  //Effect for Search
			  function focus_search(e)
			  {
				if ( e.value == "{txt_enter_key}" )
				{
					e.value = '';
					return false;
				}
			  }
			  function moveout_search(e)
			  {
				if ( e.value == '')
				{
					e.value = "{txt_enter_key}";
					return false;
				}
			  }
			 //call error

			</script>

			<tr width="100%">
					<!-- THE BEGIN BODY LEFT  -->
					<td height="360" valign="top">
						<div id="cpanel">
                                          <table class="adminlist" id="table6" cellspacing="1">
										  <form method="post" name="adminForm">
                  						    <!-- Bat dau dieu de -->
                  						    <thead>
                  						       <tr style="height: 23px;">
                  								    <th width="3%" height="23px;">  # </th>
                  								    <th width="2%">
                                                          <input name="toggle" onclick="checkAll({txt_sophantu});" type="checkbox"/>
                                                    </th>
                                                    <th width="8%" height="23px;">{txtStatus}</th>
                                                    <th width="7%" height="23px;" align="center">{txt_minhhoa}</th>
                  								    <th class="{txt_class_title_name}" title="{txt_order}" onclick="goPage('./?act={sbj_act}&order=name{dir}{txt_other_links_title}');">
                  									    {txt_lang_name}
                                                        {order_name}
                  								    </th>
                  								    <th class="{txt_class_title_order}" width="8%" title="{txt_order}" onclick="goPage('./?act={sbj_act}&order=pri_order{dir}{txt_other_links_title}');">
                  									    {txt_title_order}
                                                          {order_pri_order}
                  								    </th>
                  								    <th width="8%">
                  									    {txt_cms_preview}
                  								    </th>
                  								    <th width="8%">
                  									    {txt_change}
                  								    </th>
                  								    <th width="8%">
                  									    {txt_clear}
                  								    </th>
                  								    <th class="{txt_class_title_id}" title="{txt_order}" width="8%"  onclick="goPage('./?act={sbj_act}&order=id{dir}{txt_other_links_title}');">
                  									    id
                                                          {order_id}
                  								    </th>
                  							    </tr>
                  						    </thead>
                                              <!-- KET THUC TIEU DE -->



                    						    <tbody>
                                                        <!-- BEGIN MENULIST -->
                    								    <tr class="{MENULIST.background}">
                    									    <td style="text-align: center; background: url(./images/icon_vistar/bg_menu_order.png) repeat-y;" title="center">  {MENULIST.order}  </td>
                    									    <td align="center" bgcolor="#EEEEEE">
                    										    <input id="cb{MENULIST.stt}" type="checkbox" name="cid[]" onclick="isChecked(this.checked);" value="{MENULIST.id}"/>
                    									    </td>
                                                          <td align="center">
                                                             {MENULIST.type_F}
                                                          </td>
                                                          <td align="center">
                                                              {MENULIST.images}
                                                          </td>                                                      
                                                          <td>
                                                              <input type="hidden" name="itemID[]" value="{MENULIST.id}" size="6"/>
                    										    <input  style="display:none; margin: 1px 0; background-color: #FFFFFF;" name="strName_vn[]" class="textForm_define icon-16-vn" value="{MENULIST.name_vn}"/>
                    										    <input style="display:none; margin: 1px 0; background-color: #FFFFFF;" name="strName_en[]" class="textForm_define icon-16-en" value="{MENULIST.name_en}"/>
                    										    <input  style="display:none; margin: 1px 0; background-color: #FFFFFF;" name="strName_cn[]" class="textForm_define icon-16-cn" value="{MENULIST.name_cn}"/>
                    										    <input style="display:none; margin: 1px 0; background-color: #FFFFFF;" name="strName_jp[]" class="textForm_define icon-16-jp" value="{MENULIST.name_jp}"/>
																{MENULIST.link}
																</td>
                  									      <td align="center">
                                                            <input class="textForm" type="text" name="order[]" style="text-align: center;" value="{MENULIST.pri_order}" size="5"/>
                  									      </td>
                                                          <td align="center">
                                                             {MENULIST.preview}
                                                          </td>
                    									    <td align="center">
                    										    <a style="cursor:pointer;" {MENULIST.linkEdit} onclick="{MENULIST.checkMod}"><img src="{MENULIST.imgEdit}" width="16" height="16"/></a>
                    									    </td>
                                                          <td align="center">
                    										    <a style="cursor:pointer;" {MENULIST.linkDel}><img  onclick="{MENULIST.checkDel}" src="{MENULIST.imgDel}" width="16" height="16"/></a>
                    									    </td>
                    									    <td class="id_item" align="center">
                    										    {MENULIST.id}
                    									    </td>
                    								    </tr>
                                                        <!-- END MENULIST -->
                                                </tbody>
                                                <!-- Hien thi phan trang -->
                                                <tfoot>
                                                      <tr>
                                                          <td colspan="10" style="background-color:#F3F3F3; border-top:1px solid #999999; border-right:1px solid #e7e7e7; border-left:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; text-align:center;">
                                                              <del class="container">
                                                                 <div style="margin: 2px auto 2px auto;" class="pagination">
                                                                        {link_page}
                                                                 </div>
                                                              </del>
                                                          </td>
                                                      </tr>
                                                </tfoot>
              <input type="hidden" name="cmd" value="" />
              <input type="hidden" name="boxchecked" value="0" />
                                          </table>
										  </form>
          <script language="JAVASCRIPT">
                                          //Catch error when user lick submit
                                          function Check_input()
                                          {
                                          	var txtTitle_vn = document.admintable.txtType_Vn.value;
                                          	var txtStatus   = document.admintable.txtPriority_Order.value;

                                          	if(txtTitle_vn == '')
                                          	{
                                          		    alert('{txt_error_input_text} ({txt_title_string} (VN))!');
                                          			document.admintable.txtType_Vn.focus();
                                          		    return false;
                                          	}

                                          	if(txtStatus == '')
                                          	{
                                          		    alert('{txt_error_input_text} ({txt_ordertext})!');
                                          			document.admintable.txtPriority_Order.focus();
                                          		    return false;
                                          	}
                                            return true;

                                          }

                                          //Question when user lick delete
                                          function Question_del()
                                          {
                                               return confirm('{txt_question_delete}');
                                          }

                                          //Error when user click icon action
                                          function Error_law(e)
                                          {
                                              if (e=='del')
                                               { alert('{txt_error_law_del}');
                                                return false;
                                               }
                                              if (e=='mod')
                                               { alert('{txt_error_law_mod}');
                                                 return false;
                                               }
                                          }

                                          //Effect for Search
                                          function focus_search(e)
                                          {
                                          	if ( e.value == "{txt_enter_key}" )
                                          	{
                                          		e.value = '';
                                          		return false;
                                          	}
                                          }
                                          function moveout_search(e)
                                          {
                                          	if ( e.value == '')
                                          	{
                                          		e.value = '{txt_enter_key}';
                                          		return false;
                                          	}
                                          }

                                        </script>
						</div>
				</td>
		</tr>
		</table>
        <!-- 2. UPDATE INFOMATION -->
        <table border="0"  style="display: {txt_chedo0}" width="100%" id="table6" cellspacing="0" bgcolor="#ffffff" cellpadding="0">
            <!-- TOOLBAR -->
            <tr width="100%">
        	<td>
        	  <div id="title_panel" style="display: {show_all}">
        			<div id="title" class="header icon-48-project">{txt_cms_cat_product} <small><small>[{txt_type_update}]</small></small></div>

                        <div id="toolbar_button"><a onclick="goPage('./?act=help&mod=user_list');" title="{txt_help}"><span class="icon-32-help"></span>{txt_help}</a></div>
                        <div id="toolbar_button"><a onclick="goPage('./?');" title="{txt_close}"><span class="icon-32-close"></span>{txt_close}</a></div>
                        
                        <div style="display: {txt_button_law_cancel};" id="toolbar_button"><a onclick="goPage('./?act={sbj_act}{txt_other_links_title}{txt_oder_fun}');" title="{txt_cancel}"><span class="icon-32-cancel"></span>{txt_cancel}</a></div>
                        <div style="display: {txt_button_law_save};" id="toolbar_button"><a onclick="javascript: if(Check_input()) submitB('{txt_type_button}');" title="{txt_save}"><span class="icon-32-save"></span>{txt_save}</a></div>
        	  </div>
        	</td>
        </tr>
            
            <script language="JavaScript">
    function display(menuid) 
    {
        var id = document.admintable.cbMenuType.value;
        requestCustomerInfo(id,menuid);
    }
</script>

            <!-- VIEW UPDATE -->
            <tr>
            		<td height="360" valign="top">
                        <div id="cpanel" style="text-align: center; display: {show_all};">
                                <div style="width: 700px; margin: 0 auto;">
                                    
                                     <form  enctype="multipart/form-data" action="./?act={sbj_act}{txt_other_links_title}{txt_oder_fun}" method="post" name="admintable" onsubmit="return Check_input();">
                                         <table width="100%" border="0" cellpadding="0" cellspacing="1">
                                                <tr>
                                                    <td height="22" style="height: 10px;" colspan="2"></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td height="23" class="key" align="right">{txt_minhhoa}:</td>
                                                    <td align="left">
                                                        <input type="file" name="fileSmallImage" size="53">
                                                    </td>
                                                </tr>
                                                <!-- BEGIN SMALLIMAGE_PREVIEW -->
                                                <tr>
                                                    <td></td>
                                                    <td align="left">
                                                    <a id="thumb1" href="{SMALLIMAGE_PREVIEW.small_image}" class="highslide" onclick="return hs.expand(this, {captionId: 'caption1'})">
                                                        <img border="0" src="{SMALLIMAGE_PREVIEW.small_image}" title="{txt_preview_to_large}" width="60" height="55"  style="margin-left: 8px;"> 
                                                    </a>
                                                     <br/>
                                                    <input type="checkbox" name="cbRemoveImage" value="1" id="remove small image"/><label for="remove small image">{txt_tick_remove}</label>
                                                    <input type="hidden" name="txt_img_name" value="{txt_image_name}" size="12"/>
                                                    </td>
                                                </tr>
                                                <!-- END SMALLIMAGE_PREVIEW -->
                                                <tr>
                                                    <td height="23" class="key" align="right">{txt_lang_bigimage}:</td>
                                                    <td align="left">
                                                        <input type="file" name="fileBigImage" size="53">
                                                    </td>
                                                </tr>	
				                                 <!-- BEGIN BIGIMAGE_PREVIEW -->
                                                <tr>
                                                    <td></td>
                                                    <td align="left">
                                                    <a id="thumb1" href="{BIGIMAGE_PREVIEW.small_image}" class="highslide" onclick="return hs.expand(this, {captionId: 'caption2'})">
                                                        <img border="0" src="{BIGIMAGE_PREVIEW.small_image}" title="{txt_preview_to_large}" style="margin-left: 0px; max-width:500px; max-height:400px;"> 
                                                    </a>
                                                     <br/>
                                                    <input type="checkbox" name="cbRemoveBanner" value="1" id="remove big image"/><label for="remove big image">{txt_tick_remove}</label>
                                                    <input type="hidden" name="txt_bigimg_name" value="{txt_bigimage_name}" size="12"/>
                                                    </td>
                                                </tr>
                                                <!-- END BIGIMAGE_PREVIEW -->
												
                                                <tr>
                                                    <td height="22" class="key" align="right">{txt_lang_name} ({txt_lang_vn}):</td>
                                                    <td align="left">
                                                        <input type="hidden" name="id_item" value="{txt_ID}" size="6"/>
                                                        <input type="text" value="{type_name_vn}" class="textForm" name="txtType_Vn" onchange="getVlink(this.value,'txtLink_Vn','{txt_ID}','link_vn','catpro');"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="22" class="key" align="right">{txt_lang_name} ({txt_lang_en}):</td>
                                                    <td align="left">
                                                        <input type="text" value="{type_name_en}" class="textForm" name="txtType_En" onchange="getVlink(this.value,'txtLink_En','{txt_ID}','link_en','catpro');"/>
                                                    </td>
                                                </tr>
                                                <tr style="display:none;">
                                                    <td height="22" class="key" align="right">{txt_lang_name} ({txt_lang_cn}):</td>
                                                    <td align="left">
                                                        <input type="text" value="{type_name_cn}" class="textForm" name="txtType_Cn"/>
                                                    </td>
                                                </tr>
                                                <tr style="display:none;">
                                                    <td height="22" class="key" align="right">{txt_lang_name} ({txt_lang_jp}):</td>
                                                    <td align="left">
                                                        <input type="text" value="{type_name_jp}" class="textForm" name="txtType_Jp"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="22" class="key" align="right">Link rút gọn ({txt_lang_vn}):</td>
                                                    <td align="left">
                                                        <input type="text" value="{type_link_vn}" class="textForm" name="txtLink_Vn" id="txtLink_Vn" style="width:50%;" />.html
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="22" class="key" align="right">Link rút gọn ({txt_lang_en}):</td>
                                                    <td align="left">
                                                        <input type="text" value="{type_link_en}" class="textForm" name="txtLink_En" id="txtLink_En" style="width:50%;" />.html
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="22" class="key" align="right">{txtaboutGroup}:</td>
                                                    <td align="left">
														<select size="1" name="cbGroup" class="combo_select_group" style="width: 349px;"/>
    														<option value="0">{txtSelect}</option>
    														<!-- BEGIN GROUP -->
    														<option value="{GROUP.group_id}"{GROUP._selected}>{GROUP.group}</option>
    														<!-- END GROUP -->
														</select>  
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="22" class="key" align="right">{txt_des} ({txt_lang_vn}):</td>
                                                    <td align="left">
                                                        <textarea rows="6" name="txtType_Des_vn" cols="63" class="textSetting" style="width: 450px">{type_des_vn}</textarea>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="22" class="key" align="right">{txt_des} ({txt_lang_en}):</td>
                                                    <td align="left">
                                                        <textarea rows="6" name="txtType_Des_en" cols="63" class="textSetting" style="width: 450px">{type_des_en}</textarea>
                                                    </td>
                                                </tr>
                                                <tr style="display:none;">
                                                    <td height="22" class="key" align="right">{txt_des} ({txt_lang_cn}):</td>
                                                    <td align="left">
                                                        <textarea rows="6" name="txtType_Des_cn" cols="63" class="textSetting" style=" margin-left: 8px; width: 347px">{type_des_cn}</textarea>
                                                    </td>
                                                </tr>
                                                <tr style="display:none;">
                                                    <td height="22" class="key" align="right">{txt_des} ({txt_lang_jp}):</td>
                                                    <td align="left">
                                                        <textarea rows="6" name="txtType_Des_jp" cols="63" class="textSetting" style=" margin-left: 8px; width: 347px">{type_des_jp}</textarea>
                                                    </td>
                                                </tr>
												
                                                <tr>
                                                    <td height="20" class="key" align="right">{txt_ordertext}:</td>
                                                    <td align="left">
                                                        <input type="text" value="{priority_order}" style="width: 50px;" class="textForm" name="txtPriority_Order"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <input type="hidden" name="cmdf" value=""/>
                                                        <div style="overflow:hidden; width: 1px; height: 1px;">
                                                            <input type="submit" name="cmdfF" value="{txt_type_button}"/>
                                                        </div>

                                                    </td>
                                                </tr>
                                         </table>    
                                        <script language="JavaScript">
                                            display({menuid});
                                        </script>                                                                             
                                     </form>
                                </div>
                        </div>
                    </td>
        </tr>
        </table>						
	</td>