	<form action="./ajax_action.php?act=editPro" method="POST" id="addproForm1" onsubmit="return submitForm('addproForm1');">
		<fieldset>
			<h2>Thông tin khách hàng</h2>
			<div id="add_user_form" style="padding-top:10px;">
				<label style="width: 69px;">Xưng hô *</label>
				<select id="user_pre" name="user_pre" class="form-control" style="width:80px;display:inline;" {txt_readonly}>
					<option value="1" {txt_user_pre1_selected}>Anh</option>
					<option value="2" {txt_user_pre2_selected}>Chị</option>
					<option value="3" {txt_user_pre3_selected}>Ông</option>
					<option value="4" {txt_user_pre4_selected}>Bà</option>
				</select>
				<label>Tên *</label> <input {txt_readonly} class="form-control" type="text" name="user_name" id="user_name" value="{txt_user_name}" style="width:200px;display:inline;"><br>
				<label>Di động 1 *</label> <input {txt_readonly} class="form-control" type="text" name="user_mobile1" id="user_mobile1" value="{txt_user_mobile1}" style="width:150px;display:inline;margin-top:5px;">
				<label>Di động 2</label> <input {txt_readonly} class="form-control" type="text" name="user_mobile2" id="user_mobile2" value="{txt_user_mobile2}" style="width:150px;display:inline;margin-top:5px;">
				<label>ĐT bàn</label> <input {txt_readonly} class="form-control" type="text" name="user_phone" id="user_phone" value="{txt_user_phone}" style="margin-top:5px;width:150px;display:inline;">
				<input class="form-control" type="hidden" name="user_address" id="user_address" value="" style="width:200px;display:inline;">
			</div>
			<hr style="padding:1px;border-top:#EDEDED solid 1px;margin:10px 0px 3px;"/>
			<h2>Thông tin BĐS</h2>
			<div id="bds_form">
				<label style="width:65px;">Ký hiệu *</label> <input {txt_readonly} class="form-control" type="text" name="pro_code" id="pro_code" value="{txt_pro_code}" style="margin-top:5px;width:148px;display:inline;">
				<label>Khu vực *</label>
				<select {txt_disabled} id="pro_cat1_1" name="pro_cat1" class="form-control" style="margin-top:5px;width:130px;display:inline;" onchange="loadCat2_1(this.value);">
					<option value="0">Vui lòng chọn</option>
					<!-- BEGIN CAT1 -->
					<option value="{CAT1.id}" {CAT1.selected}>{CAT1.title}</option>
					<!-- END CAT1 -->
				</select>
				<label style="width:48px;">Dự án *</label>
				<select {txt_disabled} id="pro_cat2_1" name="pro_cat2" class="form-control" style="margin-top:5px;width:130px;display:inline;">
					<option value="0">Vui lòng chọn</option>
					<!-- BEGIN CAT2 -->
					<option value="{CAT2.id}" {CAT2.selected}>{CAT2.title}</option>
					<!-- END CAT2 -->
				</select>
				<label>Ngày hết HĐ</label> <input class="form-control date_picker" type="text" name="pro_expired" id="pro_expired" value="{txt_pro_expired}" style="margin-top:5px;width:100px;display:inline;">
				<br>
				<label>Tình trạng</label>
				<select id="pro_status" name="pro_status" class="form-control" style="margin-top:5px;width:150px;display:inline;">
					<!-- BEGIN CSTATUS -->
					<option value="{CSTATUS.id}" style="color:{CSTATUS.color};" {CSTATUS.selected}>{CSTATUS.title}</option>
					<!-- END CSTATUS -->
				</select>
				<label style="width:57px;text-align:right;">Diện tích</label> <input class="form-control" type="text" name="pro_dt" id="pro_dt" value="{txt_pro_dt}" style="margin-top:5px;width:130px;display:inline;">m<sup>2</sup>
				<label style="width:32px;text-align:right;">Dài</label> <input class="form-control" type="text" name="pro_dt_d" id="pro_dt_d" value="{txt_pro_dt_d}" style="margin-top:5px;width:130px;display:inline;">m
				<label style="width:68px;text-align:right;">Rộng</label> <input class="form-control" type="text" name="pro_dt_r" id="pro_dt_r" value="{txt_pro_dt_r}" style="margin-top:5px;width:100px;display:inline;">m
				<br>
				<label style="width:64px;text-align:left;">Giá bán</label> <input class="form-control" type="text" name="pro_price" id="pro_price" value="{txt_pro_price}" style="margin-top:5px;width:150px;display:inline;">
				<label style="width:57px;text-align:right;">ĐVT</label>
				<select id="pro_price_dvt" name="pro_price_dvt" class="form-control" style="margin-top:5px;width:130px;display:inline;">
					<option value="Tỷ">Tỷ</option>
					<option value="Triệu" {price_dvt2_selected}>Triệu</option>
				</select>
				<label>Giá thuê</label> <input class="form-control" type="text" name="pro_ren" id="pro_ren" value="{txt_pro_ren}" style="margin-top:5px;width:125px;display:inline;">
				<label style="width:79px;text-align:right;">ĐVT</label>
				<select id="pro_ren_dvt" name="pro_ren_dvt" class="form-control" style="margin-top:5px;width:100px;display:inline;">
					<option value="Tỷ">Tỷ</option>
					<option value="Triệu" {ren_dvt2_selected}>Triệu</option>
				</select>
				<br>
				<label  style="width:64px;text-align:left;">Số PN</label> <input class="form-control" type="text" name="pro_soPN" id="pro_soPN" value="{txt_pro_soPN}" style="margin-top:5px;width:150px;display:inline;">
				<label style="width:57px;text-align:right;">Số WC</label> <input class="form-control" type="text" name="pro_soWC" id="pro_soWC" value="{txt_pro_SoWC}" style="margin-top:5px;width:130px;display:inline;">
				<label style="width:53px;text-align:right;">Hướng</label>
				<select id="pro_huong" name="pro_huong" class="form-control" style="margin-top:5px;width:125px;display:inline;">
					<option value="0">-----</option>
					<option value="1" {txt_pro_huong1_selected}>Đông</option>
					<option value="2" {txt_pro_huong2_selected}>Tây</option>
					<option value="3" {txt_pro_huong3_selected}>Nam</option>
					<option value="4" {txt_pro_huong4_selected}>Bắc</option>
					<option value="5" {txt_pro_huong5_selected}>Tây Nam</option>
					<option value="6" {txt_pro_huong6_selected}>Tây Bắc</option>
					<option value="7" {txt_pro_huong7_selected}>Đông Nam</option>
					<option value="8" {txt_pro_huong8_selected}>Đông Bắc</option>
				</select>
				<label style="width:79px;text-align:right;">Dự án HOT</label> <input type="checkbox" name="flag" value="hot" {pro_hot_checked}> <img src="./images/hot.png" height="28">
				<br>
				<label style="display:inline-block;width:60%;">Ghi chú:</label>
				<label>Lịch sử cập nhật:</label>
<textarea name="pro_note_1" id="pro_note_1" style="width:60%;height:130px;margin-bottom:5px;" readonly>
<!-- BEGIN NOTE -->
[{NOTE.time}] bới {NOTE.admin}: {NOTE.note}
<!-- END NOTE -->
</textarea>
<textarea name="pro_log" id="pro_note" style="width:38%;height:130px;margin-bottom:10px;" readonly>
<!-- BEGIN LOG -->
[{LOG.time}] bởi {LOG.admin}: {LOG.log}
<!-- END LOG -->
</textarea>
				<label>Thêm ghi chú:</label><br><input class="form-control" type="text" name="pro_note" id="pro_note" value="" style="margin-top:0px;width:100%;">
	
				<input type="hidden" name="pro_id" value="{txt_pro_id}">
				
				<button type="submit" class="btn btn-success" style="margin-top:5px;{available_update}">Cập nhật</button>
			</div>
		</fieldset>
		<script>
			$("#ui-id-2").html("Xem/sửa thông tin dự án");
		</script>
	
	</form>
	{disabled_enter_script}