	<td width="1200">
          <!-- 1. PREVIEW INPUTBOX -->
          <table border="0" style="display: {txt_chedo1}" width="100%" id="table6" cellspacing="0" bgcolor="#ffffff" cellpadding="0">
              <!-- TOOLBAR -->
              <tr>
          	    <td width="1200">
          	      <div id="title_panel">
          			  <div id="title" class="header icon-48-info">Quản lý file</div>
					  <div id="toolbar_button"><a onclick="goPage('./?act=help&mod=files_mng');" title="{txt_help}"><span class="icon-32-help"></span>{txt_help}</a></div>
					  <div id="toolbar_button"><a onclick="goPage('./?');" title="{txt_close}"><span class="icon-32-close"></span>{txt_close}</a></div>                              
         	      </div>
          	    </td>
              </tr>
              
              <!-- GRID PREVIEW  -->
              <tr width="1200">
                          <!-- THE BEGIN BODY LEFT  -->
              		    <td height="360" valign="top">
                              <div id="cpanel">
                                   <iframe frameborder=0 marginheight="20" marginwidth="20" scrolling="yes" width="100%" height="500" src="../files_upload/fmng.php"></iframe>
                              </div>
                          </td>
                          <!-- THE END BODY LEFT -->
          		    </tr>
          </table>
</td>